# Default ignored files
/workspace.xml
/misc.xml
/modules.xml
/Study.iml
/vcs.xml
/.name
/../cmake-build-debug/CMakeFiles/Progress/2
/../cmake-build-debug/CMakeFiles/Progress/3
/../cmake-build-debug/CMakeFiles/Progress/4
/../cmake-build-debug/CMakeFiles/Progress/5
/../cmake-build-debug/CMakeFiles/Progress/6
/../cmake-build-debug/CMakeFiles/Progress/7
